chatbot-reuniones-joana.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ]
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -900,
        40
      ],
      "id": "e99972a2-e016-4149-9e0a-f68478c20fba",
      "name": "WhatsApp Trigger",
      "webhookId": "4267036e-61b3-4949-bddc-e069c87164de",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "8AA9Rv5Oehy20icD",
          "name": "WhatsApp OAuth account 1"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {
          "systemMessage": "[[ AQUÍ PON LA DESCRIPCIÓN DEL NEGOCIO PARA EL QUE VAS A HACER LA AUTOMATIZACIÓN ]]"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -460,
        40
      ],
      "id": "c9d70a52-1a9a-49ac-8ef2-4dd56b627f85",
      "name": "AI Agent",
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -800,
        300
      ],
      "id": "7cadc54c-3657-440d-a872-55ef5b420787",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "09dgUnK8gQOjzRd3",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "recipientPhoneNumber": "={{ $('Filter').item.json.contacts[0].wa_id }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        0,
        20
      ],
      "id": "eb69816b-e2a7-4aa4-93cb-99bcc76a3313",
      "name": "Enviar WhatsApp",
      "credentials": {
        "whatsAppApi": {
          "id": "GhtIxS0BW6EyqBVE",
          "name": "n8n agent Whatsapp"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        180,
        20
      ],
      "id": "83ee76d6-f53f-48ad-839e-1f20c3e80639",
      "name": "Acaba"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "dcc52bad-5843-4d50-88ec-523639ded76f",
              "leftValue": "={{ $json.messages !== undefined }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -680,
        40
      ],
      "id": "e0c642f9-a432-47d9-b1e1-873ec05e7a2e",
      "name": "Filter"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Verifica con Google Calendar API si está disponible una fecha y hora concreta.",
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": ""
        },
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_Time', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End_Time', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -480,
        300
      ],
      "id": "bb37842e-35c5-49e6-bb5f-1026531b0285",
      "name": "comprobar_disponibilidad",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "qyRO6YjX1IZwLECx",
          "name": "Google Calendar Joana"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.messages[0].from }}",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -660,
        300
      ],
      "id": "2078c911-72b7-44e8-b374-9acbe9d6522b",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Utiliza la Notion API para añadir a mi base de datos de Clientes los datos del cliente que haya agendado la reunión.",
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "",
          "cachedResultUrl": ""
        },
        "title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', `Nombre del cliente`, 'string') }}",
        "simple": false,
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Status|status"
            },
            {
              "key": "Nicho|multi_select",
              "multiSelectValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Option_Names_or_IDs', `Nicho en el que trabaja el cliente. Debe decirte sobre que trata su empresa.`, 'string') }}"
            },
            {
              "key": "Notas|rich_text",
              "richText": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Rich_Text', `Qué tipo de negocio tiene el cliente y qué tareas o flujos le gustaría automatizar. Cuál es su objetivo al contratarme.`, 'boolean') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notionTool",
      "typeVersion": 2.2,
      "position": [
        -140,
        300
      ],
      "id": "2aec92d2-82df-4c1c-a744-abf969dbc621",
      "name": "add_cliente_notion"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": ""
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "attendees": [
            "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Attendees', ``, 'string') }}"
          ],
          "conferenceDataUi": {
            "conferenceDataValues": {
              "conferenceSolution": "hangoutsMeet"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -300,
        300
      ],
      "id": "2e669dba-93eb-400d-ac81-7f72417f20f9",
      "name": "agendar_reunion",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "qyRO6YjX1IZwLECx",
          "name": "Google Calendar Joana"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar WhatsApp": {
      "main": [
        [
          {
            "node": "Acaba",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "comprobar_disponibilidad": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "add_cliente_notion": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "agendar_reunion": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "",
  "meta": {
    "instanceId": "9fb4f6dbcf7b7266d8c33d05c1cfa87c7b9917004979e29b39a6ae04cf566a6a"
  },
  "tags": []
}
